{% extends 'base.html' %}
{% block title %} 
    <title>
        One
    </title>
{% endblock title %}
{% block content %}
    <div class="text-center text mt-5 p-3 border-4 border-bottom  display-1 m-5">
        What's new!
    </div>
    <style>
        *{
            position: relative;
            overflow-x: hidden;
        }
        
        .dot{
            background: var(--element);
            height: 20rem;
            width: 20rem;
            position: absolute;
            border-radius: 50%;
            top: 20%;
            left: 2%;
            z-index: -1;
        }
        
    </style>
    <span class="dot"></span>
    <div class="justify-content-center border  border-5 m-5" id = "glass" >
        
        <div class="row justify-content-around align-items-center m-5 border-bottom ">
            <div class="col col-3 display-6 text" >
                Gifs!
            </div>
            <div class="col col-3 m-5">
                <img src="https://media2.giphy.com/media/j6qjVvHV3Y6QXqomQl/giphy.gif?cid=ecf05e47ct18va5k7fy390uq05t2sjmwh66qn8mczd3zkd45&rid=giphy.gif&ct=g" alt="" class="img-fluid" style="aspect-ratio: 480 / 216;">
            </div>
        </div>
        <div class="row justify-content-around align-items-center m-5 p-5 border-bottom ">
            <div class="col col-3">
                <img src="https://media0.giphy.com/media/9G4Y72tCLbjhAxxK9t/giphy.gif?cid=ecf05e4702t25195gg9srdb6r4flzxbv5vl355htto3hk5v5&rid=giphy.gif&ct=g" alt=""  class="img-fluid">
            </div>
            <div class="col col-3 display-6 text" >
                Better UI!
            </div>
        </div>
        <div class="row justify-content-around align-items-center m-5 p-5 border-bottom ">
            <div class="col col-3 display-6 text" >
                User friendly!
            </div>
            <div class="col col-3 m-5">
                <img src="https://media2.giphy.com/media/YNPjwaQdIb3K8/giphy.webp?cid=ecf05e47wx2kdhfmytvhvjjgeiifxlnb14j47ren9cs72as2&rid=giphy.webp&ct=g" alt="" class="img-fluid" style="aspect-ratio: 480 / 720;">
            </div>
        </div>
        <div class="row justify-content-around align-items-center m-5 p-5">
            <div class="col col-3">
            <select id="theme-selector">
                <option value="defaul">Theme-0</option>
                <option value="theme-1">Theme-1</option>
                <option value="theme-2">Theme-2</option>
              </select>
            </div>
            <div class="col col-3 display-6 text" >
                Theme-Togglers!
            </div>
        </div>

    </div>
{% endblock content %}