{% extends 'base.html' %}
{% block title %} 
    <title>
        Tribe
    </title>
{% endblock title %}
{% block content %}
    
        <div>
            <p class="display-5 p-5" >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus harum temporibus repellendus ipsa illo laudantium eos eligendi molestias ut? Eius eaque eum laboriosam modi laudantium incidunt aliquid consequatur et nihil? Exercitationem temporibus, laudantium quisquam amet magnam, in odio quidem illo, reiciendis iure fugit. Porro hic vero nesciunt, corporis delectus ad.
            </p>
        </div>

        <div class="container">
            <p class = "p-5 border-dark " style = "font-family: 'Raleway'; font-size: 30px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus harum temporibus repellendus ipsa illo laudantium eos eligendi molestias ut? Eius eaque eum laboriosam modi laudantium incidunt aliquid consequatur et nihil? Exercitationem temporibus, laudantium quisquam amet magnam, in odio quidem illo, reiciendis iure fugit. Porro hic vero nesciunt, corporis delectus ad.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus harum temporibus repellendus ipsa illo laudantium eos eligendi molestias ut? Eius eaque eum laboriosam modi laudantium incidunt aliquid consequatur et nihil? Exercitationem temporibus, laudantium quisquam amet magnam, in odio quidem illo, reiciendis iure fugit. Porro hic vero nesciunt, corporis delectus ad.
            </p>
        </div>
        <div class="container">
            <div class="note note-info">
                <p class = "p-5 border-dark " style = "font-family: 'Raleway'; font-size: 15px;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus harum temporibus repellendus ipsa illo laudantium eos eligendi molestias ut? Eius eaque eum laboriosam modi laudantium incidunt aliquid consequatur et nihil? Exercitationem temporibus, laudantium quisquam amet magnam, in odio quidem illo, reiciendis iure fugit. Porro hic vero nesciunt, corporis delectus ad.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus harum temporibus repellendus ipsa illo laudantium eos eligendi molestias ut? Eius eaque eum laboriosam modi laudantium incidunt aliquid consequatur et nihil? Exercitationem temporibus, laudantium quisquam amet magnam, in odio quidem illo, reiciendis iure fugit. Porro hic vero nesciunt, corporis delectus ad.
                </p>
            </div>
        </div>

{% endblock content %}