{% extends 'base.html' %}
{% block title %} 
    <title>
        Two
    </title>
{% endblock title %}
{% block content %} 
    <div class="container p-3 m-3 ">
        <canvas class="p-5 canvas-fluid"  id="myChart"></canvas>
    </div>
    
    
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
      <div class="dataTable-top">
        <div class="dataTable-dropdown">
          <label>
            <select name="" id="" class="dataTable-selector">
              <option value="5">5</option>
              <option value="10" selected = "">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </label>
        </div>
        <div class="dataTable-search">
          <input type="text" class = "dataTable-empty">
        </div>
      </div>
      <div class="dataTable-container">
        <table class="table dataTable-table">

        </table>
      </div>
      <div class="dataTable-bottom"></div>
    </div>



    <!-- <div class="display-4">
      {% for key in info.result.rows %}
        {{key.rank}} {{key.party.members[0].handle}} {{key.points}} {{key.penalty}} 
        <br>
      {% endfor %}
    </div> -->

{% endblock content %}

{% block script %}

<script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options


    let massPopChart = new Chart(myChart, {
      type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Boston', 'Worcester', 'Springfield', 'Lowell', 'Cambridge', 'New Bedford'],
        datasets:[{
          label:'Population',
          data:[
            617594,
            181045,
            153060,
            106519,
            105162,
            95072
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'white',
          hoverBorderWidth:3,
          hoverBorderColor:'grey'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Largest Cities In Massachusetts',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
</script>
<script>
fetch().then(response => response.json()).then(data =>{let table = new simpleDatatables.DataTable(".table", {
  data : {
    headings : [], 
    data: data.map(item => Object.values(item))
  }
}) })
</script>
{% endblock script %}