{% extends 'base.html' %}
{% block title %} 
    <title>
        Two
    </title>
{% endblock title %}
{% block content %} 
<style>
    #myChart,
    #myChart2,
    #myChart3,
    #myChart4{
        width : 400px !important;
        height : 400px !important; 
        z-index: 1 !important;
        border-radius: 5% !important;
        background-color: white;
        margin-left: 40px !important;
        margin-right: 40px !important;
        margin-top: 30px !important;
        padding: 10px !important;
        display: inline-flex !important;
        animation-name: anim;
        animation-iteration-count: 1;
        animation-duration: 2s;
        
    }   
    #glass{
        animation-name: anim2;
        animation-iteration-count: 1;
        animation-duration: 2s;
        padding: 15px;
    }
    @keyframes anim2{
        from{
            width: 300px;
            height: 300px;
            opacity: 0;
        }
        to{
            width: 500px;
            height: 500px;
            opacity: 100%;
        }

    }
    @keyframes anim{
        from{
            width: 200px;
            height: 200px;
            opacity: 0;
        }
        to{
            width: 400px;
            height: 400px;
            opacity: 100%;
        }
    }

   
</style>
<div>
    <p class="display-5 p-5 text-center text-white border-bottom border-2 border-white" style = "margin-left: auto; margin-right: auto; width: 90%;" >
        Charts!
    </p>
</div>
<div class="row justify-content-center align-items-center m-5">
    <div class="col justify-content-center">
        
        <div id="glass" style="width: 500px; height: 500px;" >
            <div class="row justify-content-center my-1 align-items-center" style = "font-family: 'Raleway'; font-size: larger; font-weight : bolder;" >
                Chart Title #1
            </div>
            <canvas  id="myChart" ></canvas>
        </div>
    </div>
    <div class="col justify-content-center">
        
        <div id="glass" style="width: 500px; height: 500px; " >
            <div class="row justify-content-center my-1 align-items-center" style = "font-family: 'Raleway'; font-size: larger; font-weight : bolder;" >
                Chart Title #2
            </div>
            <canvas  id="myChart2" ></canvas>
        </div>
    </div>
</div>

<div class="row justify-content-center align-items-center m-5">
    <div class="col justify-content-center">
        
        <div id="glass" style="width: 500px; height: 500px; " >
            <div class="row justify-content-center my-1 align-items-center" style = "font-family: 'Raleway'; font-size: larger; font-weight : bolder;" >
                Chart Title #3
            </div>
            <canvas id="myChart3" ></canvas>
        </div>
    </div>
    <div class="col justify-content-center">
        
        <div id="glass" style="width: 500px; height: 500px; " >
            <div class="row justify-content-center my-1 align-items-center" style = "font-family: 'Raleway'; font-size: larger; font-weight : bolder;" >
                Chart Title #4
            </div>
            <canvas  id="myChart4" ></canvas>
        </div>
    </div>
</div>


<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                '#EED4FF 20%' ,
                '#B59DF7 20%' ,
                '#7E6ABE 20%' ,
                '#EED4FF 20%' ,
                '#B59DF7 20%',
                '#7E6ABE 20%'
            ],
            borderColor: [
                '#EED4FF' ,
                '#B59DF7' ,
                '#7E6ABE' ,
                '#EED4FF' ,
                '#B59DF7',
                '#7E6ABE'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            title: {
                color: 'rgba(255, 255, 255, 0.5)'
            }
        }

    }
});
</script>
<script>
    // <block:setup:1>
const labels = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
];
const data = {
    labels: labels,
    datasets: [{
        label: 'My First dataset',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [0, 10, 5, 2, 20, 30, 45],
    }]
    };
    // </block:setup>

    // <block:config:0>
    const config = {
    type: 'line',
    data: data,
    options: {}
    };
    // </block:config>

   
    

    const myChart2 = new Chart(
    document.getElementById('myChart2'),
    config
  );
</script>
<script>
    // <block:setup:1>
    const data3 = {
    labels: [
        'Red',
        'Blue',
        'Yellow'
    ],
    datasets: [{
        label: 'My First Dataset',
        data: [300, 50, 100],
        backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
    }]
    };
    // </block:setup>

    // <block:plugin:2>
    // Note: changes to the plugin code is not reflected to the chart, because the plugin is loaded at chart construction time and editor changes only trigger an chart.update().
    const plugin = {
    id: 'custom_canvas_background_color',
    beforeDraw: (chart) => {
        const ctx = chart.canvas.getContext('2d');
        ctx.save();
        ctx.globalCompositeOperation = 'destination-over';
        ctx.fillStyle = 'lightGreen';
        ctx.fillRect(0, 0, chart.width, chart.height);
        ctx.restore();
    }
    };
    // </block:plugin>

    // <block:config:0>
    const config3 = {
    type: 'doughnut',
    data: data3,
    plugins: [],
    };
// </block:config>
    const myChart3 = new Chart(
        document.getElementById('myChart3'),
        config3
    );

</script>
<script>
    // <block:setup:1>
    const data4 = {
    labels: [
        'Red',
        'Blue',
        'Yellow'
    ],
    datasets: [{
        label: 'My First Dataset',
        data: [300, 50, 100],
        backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
    }]
    };
    // </block:setup>

    // <block:plugin:2>
    // Note: changes to the plugin code is not reflected to the chart, because the plugin is loaded at chart construction time and editor changes only trigger an chart.update().
  
    // </block:plugin>

    // <block:config:0>
    const config4 = {
    type: 'pie',
    data: data4,
    plugins: [],
    };
// </block:config>
    const myChart4 = new Chart(
        document.getElementById('myChart4'),
        config4
    );

</script>
{% endblock content %}

{% block script %}

{% endblock script %} 