{% extends 'base.html' %}
{% block title %} 
    <title>
        UserPosts
    </title>
{% endblock title %}
{% block content %}
    
        <div>
            <p class="display-3 p-5 text-center text-white border-bottom border-white" >
                Posts by {{user.username}} ({{posts.total}})
            </p>
        </div>

    
        {% for post in posts.items %}
            <div class="container">
                <div class="text-white display-3 ">
                Posted by <a href="{{url_for('user_posts', username = post.author.username)}}"> {{post.author.username}} </a>
                </div>
                <div class="text-white display-6">
                    on {{post.date_posted.strftime('%Y-%m-%d')}}
                </div>
                <div class="row note note-info">
                    <div class = "p-5 col-8 " style = "font-family: 'Montserrat'; font-size: 25px;">
                        <a href="{{url_for('post', post_id = post.id)}}">{{post.title}}</a>
                    </div>
                    <div class = "p-5 col-8 " style = "font-family: 'Raleway'; font-size: 15px;">
                        {{post.content}}
                    </div>
                    <img class="col-2 rounded-circle" style =" height: 175px; width: 175px; " src = '{{url_for('static', filename = post.author.image_file)}}'>
                </div>
                <br>
            </div>
        {% endfor %}
        <p class=" justify-content-start">
            {% for page_num in posts.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 3) %}
                
                {% if page_num %}
                    {% if page_num == posts.page %}
                        <a class="btn btn-black btn-sm" href="{{url_for('home', page = page_num)}}"> {{page_num}} </a>
                    {% else %}
                        <a href="{{url_for('home', page = page_num)}}" class="btn btn-outline-dark btn-sm"> {{page_num}} </a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </p>

{% endblock content %}